/sessions/
/evidencia/
/__pycache__/
/utils/__pycache__/
casos_de_prueba.xlsx
~$casos_de_prueba.xlsx
/template_matrices/
.forgebuild
wheels
*__pycache__
.venv
build
*.spec
dist
build_ruta_exe.bat
assets/forgebuild.ico
.env